:root {
--bgdark: #232a35;
--bglight: #29303d;
--bglighter: #343a48;

--fgdark: #92a1ae;
--fglight: #92a1ae;
	
--accent: #a469b4;
--border: #303848;
--disabled: #696969;
--fgdark: #92a1ae;
}

body {
	background-color: var(--bgdark);
	overflow-x: hidden;
}

#page {
	/*width: 90vw;
	height: 90%;*/
	max-width: 700px;
	max-height: 600px;
	  	
	margin: 0 auto;
	margin-top: 20px;
}

main {
	max-width: 700px;
	margin-top: auto;
	display: flex;
	margin: 2vh auto;
	overflow-y: auto;
	flex-flow: row wrap;
}

#clock {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

#time, #date {
	color: var(--fglight);
	display: inline-block;
	margin: 0 5px;
	width: 90px;
}

#time {
	text-align: left;
}

#date { 
	text-align: right;
}

.slash {
	color: var(--fgdark)
}

.search-box {
	max-width: 500px;
	margin: 0 auto;
	width: 90%;
}
.search-box input[type="text"] {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--border);   
	color: var(--fgdark);
	transition: all 200ms;
	width: 100%;
	max-width: 500px;
	height: 30px;
	display: block;
	margin: 0 auto;
	text-align: center;
	/*box-shadow: 4px 4px 6px 2px rgba(0,0,0,0.2);*/
}

/*.search-box input[type="text"]:focus,
.search-box input[type="text"]:hover {
	border-color: transparent;
}*/

.search-underline {
	position: relative;
	top: -2px;
	display: block;
	max-width: 0px;
	margin: 0 auto;
	height: 2px;
	background-color: var(--border);
	transition: all 150ms;
	transition-timing-function: ease-out;
}

.search-box:focus-within > .search-underline,
.search-box:hover > .search-underline {
	max-width: 500px;
	background-color: var(--accent);
}

/*.search-box input[type="text"]:focus,
.search-box input[type="text"]:hover {
	border-bottom: 2px solid var(--accent);   
	max-width: 500px;
}*/

.box {
	display: block;
	width: auto;
	text-align: center;
	border: 2px solid var(--bglight);
	transition: all 200ms ease 0s;
	margin: 15px;
	box-shadow: 6px 7px 9px 3px rgba(0,0,0,0.24);   
}

.box:hover {
	border: 2px solid var(--accent);
}

.box:hover > .title,
.box:hover > * > .title {
	background-color: var(--accent);
	color: var(--bgdark)
}


.title {
	color: var(--fglight);
	font-size: 18px;
	transition: all 200ms ease 0s;
	display: block;
	text-align: center;
	background-color: var(--bglight);
	padding: 5px;
}

.links {
	font-size: 14px;
	padding: 6px 0;
	display: inline-block;
	width: 70px;
	width: 100%;
	display: block;
}

hr {
	color: var(--bglighter);
	margin: 2px;
}

a:visited, a {
	color: var(--fgdark);
	text-decoration: none;
	outline: none;
}
a:not(.tablinks):visited, a:not(.tablinks) {  transition: all 300ms ease 0s; }
a:hover {	color: var(--accent);}

/*
#notes {
	display: block;
	background-color: var(--bgdark);
	color: var(--fglight);
	border: none;
	padding: 15px;
	margin-right: auto;
	border: 2px solid var(--border);
	transition: all 300ms ease 0s; 
	width: 40px;
	height: 20px;
	margin-bottom: 25px;
	position: fixed;
	left: 0;
	top: 50px;
	z-index: 69;
	margin-bottom: 0px;
	border-radius: 0 5em 5em 0;
	resize: none;
	color: var(--bgdark);
	overflow: hidden;
	margin-left: -40px;
	font-family: "Iosevka Term";
	font-size: 13px;
}

#notes:focus {
	border: 2px solid var(--accent);
	box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
	margin-left: 25px;
	z-index: 420;
	margin-bottom: 25px;
	width: 366px;
	height: 160px;
	border-radius: 0;
	color: #fff;
	overflow: visible;
}*/

/*#notes:hover {
	border: 2px solid var(--accent);
	box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
	margin-left: 25px;
	z-index: 420;
	margin-bottom: 25px;
	width: 350px;
	height: 140px;
	border-radius: 0;
	color: #fff;
	overflow: visible;
}*/

#notes:hover:not(:focus) {
	margin-left: -25px;
	border-color: var(--accent);
}

.pen {
	position: fixed;
	top: 68px;
	left: 0px;
	width: 20px;
	transition: all 300ms ease 0s; 
	z-index: 69;
	pointer-events: none;
	margin-left: 8px;
}

#notes:focus ~ .pen {
	opacity: 0;
	display: none;
}

#notes:not(:hover) ~ .pen {
	margin-left: -6px;
}

#notes1, #notes2, #notes3  {
	width: 250px;
	background-color: var(--bglight);
	color: var(--fglight);
	margin: 0 auto;
	height: 100%;
	min-height: content;
	border: none;
}

.notearea {
	position: absolute;
	top: 66px; 
	bottom: 20px; 
	width: 100%;
}

.sidebar-top {
	display: block;
}

#sidebar:not(.active) {
	visibility: hidden;
	right: -250px;
}

#sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: var(--bglight);
	transition: all 200ms;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.24);
}

.sidebar-toggle {
	position: fixed;
	right: 25px;
	top: 0;
	z-index: 25;
}


.sidebar-toggle span {
	display: block;
	width: 20px;
	height: 3px;
	background: var(--fgdark);
	margin: 5px 0px;
	transition: move 400ms ease 0s;
}

.sidebar-toggle:hover span {
	background: var(--accent);
}


.tabs {
	width: 160px;
	margin: 0 auto;
	margin-top: 30px;
}

.tabs > hr {
	color: var(--accent);
	width: 40px;
	transition: margin-left 200ms;
}

.tablink1.selected ~ hr {	margin-left: 2%;}
.tablink2.selected ~ hr {	margin-left: 35%;}
.tablink3.selected ~ hr {	margin-left: 68%;}

.tablinks {
	background-color: transparent;
	color: var(--fgdark);
	border: none;
	width: 50px;
	margin: 0px;
	border: none;
	text-align: center;
	display: inline-block;
}

.tablinks:hover { color: var(--accent); }

.tablinks.selected { color: var(--accent); }

main section {
	flex: 1 1 100%;
	box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
	main section {
		flex: 1 1 50%;
	}
}

@media only screen and (min-width: 768px) {
	main section {
		flex: 1 1 25%;
	}
}
